*{  
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d303a;
    height: 89px;
    border-bottom: 6px solid #323746;  
    
     
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
   margin: 0 auto;
    width: 1020px;
}
div.icon{
    
    font-weight: bold;
    margin-left: 38px;
    margin-bottom: 3px;
    width: 40%;
}
div.icon h3{
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    
}


div.menu{  
    margin-top:9px;
    margin-right: 38px;
    margin-left: 322px;
    display: flex;
    width: 60%;
    justify-content: space-between;
    font-size:12px;
    font-weight: bold;
    text-align:left;
}
div.menu nav a{
    display: flex;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    line-height: 6px;
    text-decoration: none;
    
}
div nav a:hover{
    color:#f06c64;
    transition: all 0.3s ease;
}
.point{
    width: 2px;
    height: 2px;
    background-color: #494e62;
    margin-top: 3px;
    
}
span{
    color: #f06c64;
}
div.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f06c64;
    height: 596px;
    border-bottom: 4px solid #ea676b;  

}
div.iphone_vertical{
    padding-right: 73px;
    padding-bottom: 4px;
}

div.iphone_horizontal{
    padding-bottom: 6px;
    padding-right: 53px;

}
div.chev{
    opacity:0.295;
    padding-right: 54px;
    padding-bottom: 5px;
    

}
div.chev_right{
    opacity:0.295;
    padding-bottom: 5px;
    
}
div.chev_right:hover{
    transition: all 0.3s ease;
    opacity: 1;
}
div.chev:hover{
    transition: all 0.2s ease;
    opacity: 1;
}
div.container_our_services{
   
    align-items: center;
    justify-content: center;
   margin: 0 auto;
    width: 1020px;
}
div.services{
    background-color: #f2f2f2;
    border-bottom:6px solid #ffffff;
    
}
div.our_services{
   
    align-items: center;
    justify-content: center;
    padding-left: 42px;
    padding-top:68px;
    width: 1020px;
    
    
}
div.our_services h1{
    font-size: 30px;
line-height: 18px;
color: #666d89;
font-family: "Lato";
font-weight: 900;
text-align: left;

}
div.our_services p{
    font-size:18px;
    padding-top:27px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
  
}
div.info  {
   justify-content: space-between;
    padding-top: 47px;
    padding-left: 40px;
    padding-bottom:27px;

   
}
ul{
    width: 1020px;
}
li{
    display: inline-block;
    width: 300px;
    box-sizing: border-box;
   padding-bottom: 28px;
   margin-right: 17px;

}

li h4{
    font-size: 18px;
line-height: 17px;
color: #666d89;
font-family: "Lato";
font-weight: 900;
padding-left: 12px;
padding-bottom:9px;

}

li p{
font-size: 12px;
line-height: 22px;
color: #767e9e;
font-family: "Lato";
font-weight: 400;
max-width: 215px;
padding-left: 11px;
}
li img{
   
    padding-right:10px;
    float: left;
}
li div{
    float: left;
}
